@CHARSET "ISO-8859-1";

h2,h3 {
	margin-top: 20px;
    margin-bottom: 30px;
}

.glyphicon-refresh {
	margin-right: 5px;
}
.glyphicon-tag {	
	top: 2px;
	margin-right: 10px;
}
.btn {
	padding: 8px 12px;
}
.btn-default {
	border: none;
}
.btn-default:hover,
.btn-default:active,
.btn-default:focus {
	text-decoration: underline;
	background: transparent!important;
	outline: none;
	box-shadow: none;
}
.area-search .btn {
	border: 1px solid #ddd;
}
.area-search .btn:hover {
	background: #eee!important;
}
.row {
	margin-left: 0;
	margin-right: 0;
}





/* CUSTOM CHECKBOX AND RADIO BUTTON */
/* Base for label styling */
[type="checkbox"]:not(:checked),
[type="checkbox"]:checked {
  position: absolute;
  left: -9999px;
}
[type="checkbox"]:not(:checked) + label,
[type="checkbox"]:checked + label {
  position: relative;
  padding-left: 25px;
  cursor: pointer;
}

/* checkbox aspect */
[type="checkbox"]:not(:checked) + label:before,
[type="checkbox"]:checked + label:before {
  content: '';
  position: absolute;
  left:0; 
  width: 17px; height: 17px;
  border: 1px solid #aaa;
  background: #f8f8f8;
  border-radius: 3px;
  /*box-shadow: inset 0 1px 3px rgba(0,0,0,.3)*/
}
/* checked mark aspect */
[type="checkbox"]:not(:checked) + label:after,
[type="checkbox"]:checked + label:after {
  content: '✔';
  position: absolute;
  top: 3px; left: 4px;
  font-size: 18px;
  line-height: 0.8;
  color: #121b51;
  transition: all .2s;
}
/* checked mark aspect changes */
[type="checkbox"]:not(:checked) + label:after {
  opacity: 0;
  transform: scale(0);
}
[type="checkbox"]:checked + label:after {
  opacity: 1;
  transform: scale(1);
}
/* disabled checkbox */
[type="checkbox"]:disabled:not(:checked) + label:before,
[type="checkbox"]:disabled:checked + label:before {
  box-shadow: none;
  border-color: #bbb;
  background-color: #ddd;
}
[type="checkbox"]:disabled:checked + label:after {
  color: #999;
}
[type="checkbox"]:disabled + label {
  color: #aaa;
}
/* accessibility */
[type="checkbox"]:checked:focus + label:before,
[type="checkbox"]:not(:checked):focus + label:before {
  border: 1px dotted blue;
}

/* hover style just for information */
label:hover:before {
  border: 1px solid #4778d9!important;
}






/* LOGIN */
.panel .custom_box {
	border: none;
}




/* Banner */
#myCarousel {
	/*margin-bottom: 30px;*/
}





/* LOGO */
.bar-category .navbar-brand>img {
	padding: 10px 8px 10px 0;
	margin-left: 14px;
}





/* TOP LABEL */
.bar-account form {
	margin-bottom: .5em;
}
.bar-account .nav-bar-account > ul > li > a:hover {
	opacity: .8;
}
.bar-account .nav-bar-account > ul > li > a:active {
	opacity: .9;
}





/* BREADCRUMB */
.breadcrumb > .active {
	/*color: #000;
	font-weight: bold;
	text-transform: capitalize;*/
}





/* MAIN MENU NAVIGATION */
.page-header .bar-category .collapse{
	margin-top: 40px;
}
.page-header .collapse .navbar-nav>li>a {
	padding: 15px 20px 10px 20px;
	font-size: 15px;
}
.page-header .collapse .navbar-nav>li>a:hover {
	opacity: .85;
}
.page-header .collapse .navbar-nav>li>a:active {
	opacity: .9;
}
.dropdown-menu>li>a {
	color: #444;
}
.dropdown-menu>li>a:focus, .dropdown-menu>li>a:hover {
	color: #222;
	background: #f4f7fe;
}




/* NOTIFICATION*/
.badge {
	font-weight: normal;
	background-color: white;
	color: black;
}





/* FREE DELIVERY SLOGAN */
.navbar-wrapper .bar-livefeed {
	line-height: 2em;
} 





/* HOMEPAGE - PRODUCT */
.product-tile .spacer {
	border-color: #ddd;
    padding-bottom: 15px;
}
.product-tile .prod-name {
	font-size: 16px;
}
.product-tile .prod-name:hover {
	text-decoration: underline;
}
.product-tile .prod-name:active {
	opacity: .85;
}
.product-tile .prod-price {
	font-size: 16px;
	font-weight: bold;
	color: #c42409;
}


/* slick slider */
.slick-slider {
	margin-bottom: 30px;
}
.slick-track  {
	transition: 1s;
}






/* PRODUCT LIST */
#product-filter-bar {
	font-size: 85%!important;
}
#area-content .navbar-nav > li > a {
	line-height: 2em;
}
.navbar-default .navbar-nav > li > a:hover, .navbar-default .navbar-nav > li > a:focus {
	font-weight: bold;
}
#area-content .navbar-default {
	border: none;
}
.navbar-nav > li > .dropdown-menu {
	padding: 0;
}

.dropdown-menu li > label {
	line-height: 2em;
}
.dropdown-menu li > label:hover, .dropdown-menu li > label:focus {
	background: #f4f7fe;
	color: #333;
	font-weight: bold;
}
.product-tile a:focus {
	outline:none;
}





/* PRODUCT DETAIL */
.product-details {
	margin-top: 16px;
}
.product-details .spacer {
	padding-top: 30px!important;
}
.product-details h3 {
	margin-bottom: 20px;
}
.product-details .prod-name {
	font-weight: bold;
}
.product-details .prod-price {
	font-weight: bold;
	/*font-size: 30px;position: relative;
	top: -6px;
	color: #c42409;*/
}
.product-details .img-thumbnail {
	cursor: pointer;
}
.product-details .img-thumbnail:hover {
	border-color: #bbb;
}
.product-details .img-thumbnail:active {
	border-color: #ccc;
}
.product-details p {
	margin-bottom: 16px;
}
.product-details .btn {
	width: 100%;
}





/* ORDER PREVIEW */
.order-preview {
	display: block;
	width: 300px;
	
	-webkit-box-shadow: 1px 1px 3px 0px rgba(0,0,0,0.5);
	-moz-box-shadow: 1px 1px 3px 0px rgba(0,0,0,0.5);
	box-shadow: 1px 1px 3px 0px rgba(0,0,0,0.1);
}
.order-preview:after {
	position: absolute;
    content: ' ';
    right: 46px;
    top: -8px;
    width: 16px;
    height: 16px;
    border-top: 1px solid #ccc;
    border-right: 1px solid #ccc;
    background: #ffffff;
    -moz-transform: rotate(-45deg);
    -ms-transform: rotate(-45deg);
    -webkit-transform: rotate(-45deg);
    transform: rotate(-45deg);
}
.order-preview .product-detail {
	width: 50%;
	height: auto;
}
.order-preview > li.order-item {
	padding-top: 5px;
	padding-bottom: 5px;
}
.order-preview > li.order-item > .prod-image-area {
	width: 70px;
	height: auto;
	margin-left: 16px;
	margin-right: 16px;
}
.order-preview .product-detail .product-name {
	color:black;
	font-size: 15px;
	font-weight: bold;
	padding-top: 10px;
	display: block;
	overflow:hidden; 
    white-space:nowrap; 
    text-overflow: ellipsis;
}
.order-preview .product-detail .product-name:hover {
	text-decoration: underline;
}
.order-preview .product-detail .product-price,
.order-preview .product-detail .product-quantity {
	font-size: 13px;
	color: #777;
}
.order-preview .product-detail .product-price {
	padding-right: 20px;
	color: #337ab7;
}
.order-preview .btn-remove {
	padding: 8px 12px;
	font-size: 12px;
	color: #999;
	outline: none;
}
.order-preview .btn-remove:hover {
	opacity: .7;
	color: #d40b0b;
}
.order-preview .btn-remove:active {
	opacity: .6;
}
.order-preview .btn-remove > span {
	line-height: 2.8em;
}
.order-preview .btn-view-order a,
.order-preview .btn-view-order a:focus {
	background-color: #eb6106;
	color: white;
	text-transform: uppercase;
	border: 1px solid #d85905;
	font-weight: normal;
}
.order-preview .btn-view-order a:hover {
	background-color: #d85905;
	border: 1px solid #c55104;
	font-weight: normal;
}
.order-preview .btn-view-order a:active {
	background-color: #d26015;
	border: 1px solid #b14a05;
	color: white;
	font-weight: normal;
}




 

/* MY ORDER */
.order-table {
	margin-bottom: 20px;
}
.order-table a:hover {
	text-decoration: underline;
}
.order-table tr > th,
.order-table tr > td {
	padding: 12px 20px;
}






/* INVOICE */
#invoice table tr > th,
#invoice table tr > td {
	padding: 12px 20px;
}




/* MY ACCOUNT */
ul.nav-tabs {
	margin-top: 16px;
}
.table > thead > tr > th, 
.table > tbody > tr > th, 
.table > tfoot > tr > th, 
.table > thead > tr > td, 
.table > tbody > tr > td, 
.table > tfoot > tr > td {
	line-height: 2.5em;
}
#tmp > form > div {
	margin-bottom: 6px;
}
.bill-add,
.ship-add {
	font-weight:bold; 
	font-size: 18px;
	line-height: 2em;
}
.discount-coupon-code {
	width: 30%;
	padding-left: 12px;
	margin-left: 40px;
	margin-right: 20px;
	overflow:hidden; 
    white-space:nowrap; 
    text-overflow: ellipsis;
}



/* FOOTER TEXT */
.page-footer {
	margin-top: 40px;
}
.page-footer .footer-menu h5 {
	padding-bottom: 5px;
}
.page-footer .footer-menu a {
	line-height: 2em
}
.page-footer .footer-menu a:hover {
	color: #000;
}
.page-footer .footer-menu a:active {
	color: #333;
}