/* ==========================================================================
   [Master Stylesheet]

    Project              :       Lavalite
    Version              :       5.2
    Author               :       Renfos Technologies
    Author  URl          :       www.renfos.com
    Primary use          :       Content Management System.

   ========================================================================== */


/* ==========================================================================
   Base styles: opinionated defaults
   ========================================================================== */
@import url('https://fonts.googleapis.com/css?family=Ubuntu:300,400,500,700');

body {
    color: #99aab5;
    font-size: 14px;
    line-height: 1.4;
    font-family: 'Ubuntu', sans-serif;
    padding-right: 0 !important;
}

body, html, html a {
    -webkit-font-smoothing: antialiased;
}


/*
 * Remove text-shadow in selection highlight:
 * https://twitter.com/miketaylr/status/12228805301
 *
 * These selection rule sets have to be separate.
 * Customize the background color to match your design.
 */

::-moz-selection {
    background: #b3d4fc;
    text-shadow: none;
}

::selection {
    background: #b3d4fc;
    text-shadow: none;
}

body::-webkit-scrollbar {
    width: .4em;
}

button::-moz-focus-inner {
    border: 0;
}

body::-webkit-scrollbar-track {
    -webkit-box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.3);
    border-radius: 0px;
    background-color: #333;
}

body::-webkit-scrollbar-thumb {
    border-radius: 0px;
    background-color: #C93756;
}

a {
    color: #C93756;
}

p {
    line-height: 25px;
    margin-bottom: 10px;
}

a, button, a span {
    -webkit-transition: 0.3s ease-in-out;
    transition: 0.3s ease-in-out;
}


/*
 * A better looking default horizontal rule
 */

hr {
    display: block;
    height: 1px;
    border: 0;
    border-top: 1px solid #ccc;
    margin: 1em 0;
    padding: 0;
}


/*
 * Remove the gap between audio, canvas, iframes,
 * images, videos and the bottom of their containers:
 * https://github.com/h5bp/html5-boilerplate/issues/440
 */

audio, canvas, iframe, img, svg, video {
    vertical-align: middle;
}


/*
 * Remove default fieldset styles.
 */

fieldset {
    border: 0;
    margin: 0;
    padding: 0;
}


/*
 * Allow only vertical resizing of textareas.
 */

textarea {
    resize: vertical;
}


/* ==========================================================================
   Browser Upgrade Prompt
   ========================================================================== */

.browserupgrade {
    margin: 0.2em 0;
    background: #ccc;
    color: #000;
    padding: 0.2em 0;
}


/* ==========================================================================
   Author's custom styles
   ========================================================================== */

* {
    outline: none !important;
}

a:hover {
    outline: 0;
    text-decoration: none;
}

a:active {
    outline: 0;
    text-decoration: none;
}

a:focus {
    outline: 0;
    text-decoration: none;
}

.bg-empty {
    background: transparent !important;
}

.bg-primary {
    background-color: #C93756 !important;
}

.bg-success {
    background-color: #00b19d !important;
}

.bg-info {
    background-color: #3ddcf7 !important;
}

.bg-warning {
    background-color: #ffaa00 !important;
}

.bg-danger {
    background-color: #ef5350 !important;
}

.bg-muted {
    background-color: #F5F5F5 !important;
}

.bg-inverse {
    background-color: #4c5667 !important;
}

.bg-purple {
    background-color: #7266ba !important;
}

.bg-pink {
    background-color: #f76397 !important;
}

.bg-white {
    background-color: #ffffff !important;
}

.text-white {
    color: #ffffff !important;
}

.text-danger {
    color: #ef5350;
}

.text-muted {
    color: #98a6ad;
}

.text-primary {
    color: #C93756;
}

.text-warning {
    color: #ffaa00;
}

.text-success {
    color: #00b19d;
}

.text-info {
    color: #3ddcf7;
}

.text-inverse {
    color: #4c5667;
}

.text-pink {
    color: #f76397;
}

.text-purple {
    color: #7266ba;
}

.text-dark {
    color: #797979 !important;
}

.text-left {
    text-align: left !important;
}

.form-control {
    -moz-border-radius: 2px;
    -moz-box-shadow: inset 0 1px 2px rgba(0, 0, 0, 0.1);
    -webkit-border-radius: 2px;
    -webkit-box-shadow: inset 0 1px 2px rgba(0, 0, 0, 0.1);
    background-color: #fafafa;
    border-radius: 2px;
    border: 1px solid #eeeeee;
    box-shadow: none;
    color: rgba(0, 0, 0, 0.6);
    font-size: 14px;
}

.form-control:focus {
    background: #ffffff;
    border: 1px solid #e0e0e0;
    box-shadow: none;
}

.label {
    color: #ffffff !important;
}

.label-primary {
    background-color: #C93756;
}

.label-success {
    background-color: #00b19d;
}

.label-info {
    background-color: #3ddcf7;
}

.label-warning {
    background-color: #ffaa00;
}

.label-danger {
    background-color: #ef5350;
}

.label-purple {
    background-color: #7266ba;
}

.label-pink {
    background-color: #f76397;
}

.label-dark {
    background: #4f595b;
}

.label-inverse {
    background-color: #4c5667;
}

.badge-primary {
    background-color: #C93756;
}

.badge-success {
    background-color: #00b19d;
}

.badge-info {
    background-color: #3ddcf7;
}

.badge-warning {
    background-color: #ffaa00;
}

.badge-danger {
    background-color: #ef5350;
}

.badge-purple {
    background-color: #7266ba;
}

.badge-pink {
    background-color: #f76397;
}

.badge-inverse {
    background-color: #4c5667;
}

.mbn {
    margin-bottom: 0!important
}

.mb10 {
    margin-bottom: 10px!important
}

.mb20 {
    margin-bottom: 20px!important
}

.mb30 {
    margin-bottom: 30px!important
}

.mb40 {
    margin-bottom: 40px!important
}

.mb50 {
    margin-bottom: 50px!important
}

.mb60 {
    margin-bottom: 60px!important
}

.mtn {
    margin-top: 0!important
}

.mt10 {
    margin-top: 10px!important
}

.mt20 {
    margin-top: 20px!important
}

.mt30 {
    margin-top: 30px!important
}

.mt40 {
    margin-top: 40px!important
}

.mt50 {
    margin-top: 50px!important
}

.mt60 {
    margin-top: 60px!important
}

.mln {
    margin-left: 0
}

.ml10 {
    margin-left: 10px
}

.ml20 {
    margin-left: 20px
}

.ml30 {
    margin-left: 30px
}

.ml40 {
    margin-left: 40px
}

.ml50 {
    margin-left: 50px
}

.ml60 {
    margin-left: 60px
}

.mrn {
    margin-right: 0 !important;
}

.mr10 {
    margin-right: 10px
}

.mr20 {
    margin-right: 20px
}

.mr30 {
    margin-right: 30px
}

.mr40 {
    margin-right: 40px
}

.mr50 {
    margin-right: 50px
}

.mr60 {
    margin-right: 60px
}

.pbn {
    padding-bottom: 0!important
}

.pb10 {
    padding-bottom: 10px
}

.pb20 {
    padding-bottom: 20px
}

.pb30 {
    padding-bottom: 30px
}

.pb40 {
    padding-bottom: 40px
}

.pb50 {
    padding-bottom: 50px
}

.pb60 {
    padding-bottom: 60px
}

.pb70 {
    padding-bottom: 70px
}

.pb80 {
    padding-bottom: 80px
}

.ptn {
    padding-top: 0!important
}

.pt10 {
    padding-top: 10px
}

.pt20 {
    padding-top: 20px
}

.pt30 {
    padding-top: 30px
}

.pt40 {
    padding-top: 40px
}

.pt50 {
    padding-top: 50px
}

.pt60 {
    padding-top: 60px
}

.pt70 {
    padding-top: 70px
}

.pt80 {
    padding-top: 80px
}

.pt90 {
    padding-top: 90px
}

.pln {
    padding-left: 0
}

.pl10 {
    padding-left: 10px
}

.pl20 {
    padding-left: 20px
}

.pl30 {
    padding-left: 30px
}

.pl40 {
    padding-left: 40px
}

.pl50 {
    padding-left: 50px
}

.pl60 {
    padding-left: 60px
}

.prn {
    padding-right: 0 !important
}

.pr10 {
    padding-right: 10px
}

.pr20 {
    padding-right: 20px
}

.pr30 {
    padding-right: 30px
}

.pr40 {
    padding-right: 40px
}

.pr50 {
    padding-right: 50px
}

.pr60 {
    padding-right: 60px
}

.btn {
    border-radius: 4px;
    padding: 10px 20px;
    font-weight: 500;
    -moz-box-shadow: 0px 3px 2px 0px rgba(0, 0, 0, 0.12);
    -webkit-box-shadow: 0px 3px 2px 0px rgba(0, 0, 0, 0.12);
    box-shadow: 0px 3px 2px 0px rgba(0, 0, 0, 0.12);
    -o-transition: 0.3s ease-in-out;
    -webkit-transition: 0.3s ease-in-out;
    transition: 0.3s ease-in-out;
}

.btn:hover {
    box-shadow: 0 5px 11px 0 rgba(0, 0, 0, 0.18), 0 4px 15px 0 rgba(0, 0, 0, 0.15);
}

.btn-primary, .btn-success, .btn-info, .btn-warning, .btn-danger, .btn-inverse, .btn-purple, .btn-pink {
    color: #ffffff !important;
}

.btn-default {
    background-color: #dae6ec;
    border-color: #dae6ec;
}

.btn-default:focus {
    background-color: #dae6ec;
    border-color: #C2CED4;
}

.btn-default:hover {
    background-color: #dae6ec;
    border-color: #C2CED4;
}

.btn-default:active {
    background-color: #dae6ec;
    border-color: #C2CED4;
}

.btn-default.active, .btn-default:active, .open>.dropdown-toggle.btn-default {
    background-color: #dae6ec !important;
    border-color: #C2CED4 !important;
}

.btn-primary {
    background-color: #C93756 !important;
    border: 1px solid #C93756 !important;
}

.btn-primary:hover, .btn-primary:focus, .btn-primary:active, .btn-primary.active, .btn-primary.focus, .btn-primary:active, .btn-primary:focus, .btn-primary:hover, .open>.dropdown-toggle.btn-primary {
    background-color: #C93756 !important;
    border: 1px solid #C93756 !important;
}

.btn-success {
    background-color: #00b19d !important;
    border: 1px solid #00b19d !important;
}

.btn-success:hover, .btn-success:focus, .btn-success:active, .btn-success.active, .btn-success.focus, .btn-success:active, .btn-success:focus, .btn-success:hover, .open>.dropdown-toggle.btn-success {
    background-color: #009886 !important;
    border: 1px solid #009886 !important;
}

.btn-info {
    background-color: #3ddcf7 !important;
    border: 1px solid #3ddcf7 !important;
}

.btn-info:hover, .btn-info:focus, .btn-info:active, .btn-info.active, .btn-info.focus, .btn-info:active, .btn-info:focus, .btn-info:hover, .open>.dropdown-toggle.btn-info {
    background-color: #25d8f6 !important;
    border: 1px solid #25d8f6 !important;
}

.btn-warning {
    background-color: #ffaa00 !important;
    border: 1px solid #ffaa00 !important;
}

.btn-warning:hover, .btn-warning:focus, .btn-warning:active, .btn-warning.active, .btn-warning.focus, .btn-warning:active, .btn-warning:focus, .btn-warning:hover, .open>.dropdown-toggle.btn-warning {
    background-color: #e69900 !important;
    border: 1px solid #e69900 !important;
}

.btn-danger {
    background-color: #ef5350 !important;
    border: 1px solid #ef5350 !important;
}

.btn-danger:active, .btn-danger:focus, .btn-danger:hover, .btn-danger.active, .btn-danger.focus, .btn-danger:active, .btn-danger:focus, .btn-danger:hover, .open>.dropdown-toggle.btn-danger {
    background-color: #ed3c39 !important;
    border: 1px solid #ed3c39 !important;
}

.btn-inverse {
    background-color: #4c5667 !important;
    border: 1px solid #4c5667 !important;
}

.btn-inverse:hover, .btn-inverse:focus, .btn-inverse:active, .btn-inverse.active, .btn-inverse.focus, .btn-inverse:active, .btn-inverse:focus, .btn-inverse:hover, .open>.dropdown-toggle.btn-inverse {
    background-color: #414a58 !important;
    border: 1px solid #414a58 !important;
}

.btn-purple {
    background-color: #7266ba !important;
    border: 1px solid #7266ba !important;
}

.btn-purple:hover, .btn-purple:focus, .btn-purple:active {
    background-color: #6254b2 !important;
    border: 1px solid #6254b2 !important;
}

.btn-pink {
    background-color: #f76397 !important;
    border: 1px solid #f76397 !important;
}

.btn-pink:hover, .btn-pink:focus, .btn-pink:active {
    background-color: #f64b87 !important;
    border: 1px solid #f64b87 !important;
}

.btn-facebook {
    background-color: #3b5998 !important;
    border: 1px solid #3b5998 !important;
    color: #fff;
}

.btn-facebook:hover, .btn-facebook:focus, .btn-facebook:active {
    background-color: #3b5998 !important;
    border: 1px solid #3b5998 !important;
    color: #fff;
}

.btn-twitter {
    background-color: #00aced !important;
    border: 1px solid #00aced !important;
    color: #fff;
}

.btn-twitter:hover, .btn-twitter:focus, .btn-twitter:active {
    background-color: #00aced !important;
    border: 1px solid #00aced !important;
    color: #fff;
}

.btn-google {
    background-color: #dd4b39 !important;
    border: 1px solid #dd4b39 !important;
    color: #fff;
}

.btn-google:hover, .btn-google:focus, .btn-google:active {
    background-color: #dd4b39 !important;
    border: 1px solid #dd4b39 !important;
    color: #fff;
}

.btn-linkedin {
    background-color: #0077b5 !important;
    border: 1px solid #0077b5 !important;
    color: #fff;
}

.btn-linkedin:hover, .btn-linkedin:focus, .btn-linkedin:active {
    background-color: #0077b5 !important;
    border: 1px solid #0077b5 !important;
    color: #fff;
}

.panel {
    box-shadow: 0 2px 15px 0 rgba(0, 0, 0, 0.06), 0 2px 0px 0 rgba(0, 0, 0, 0.02);
    border-radius: 0px;
    border: none;
    margin-bottom: 20px;
}

.panel .panel-body {
    padding: 20px;
}

.panel .panel-body p {
    margin: 0px;
}

.panel .panel-body p+p {
    margin-top: 15px;
}

.panel-heading {
    border-radius: 0;
    border: none !important;
    padding: 10px 20px;
}

.panel-default>.panel-heading {
    background-color: #fafafa;
    border-bottom: none;
    color: #797979;
}

.panel-title {
    font-size: 14px;
    font-weight: 600;
    margin-bottom: 0;
    margin-top: 0;
    text-transform: uppercase;
    letter-spacing: 0.03em;
}

.panel-sub-title {
    margin-bottom: 3px;
    color: #CEE4FD;
    margin-top: -3px;
}

.panel-footer {
    background: #fafafa;
    border-top: 0px;
}

.panel-default .panel-sub-title {
    color: inherit;
}

.panel-color .panel-title {
    color: #ffffff;
}

.panel-primary>.panel-heading {
    background-color: #C93756;
}

.panel-success>.panel-heading {
    background-color: #00b19d;
}

.panel-info>.panel-heading {
    background-color: #3ddcf7;
}

.panel-warning>.panel-heading {
    background-color: #ffaa00;
}

.panel-danger>.panel-heading {
    background-color: #ef5350;
}

.panel-purple>.panel-heading {
    background-color: #7266ba;
}

.panel-pink>.panel-heading {
    background-color: #f76397;
}

.panel-inverse>.panel-heading {
    background-color: #4c5667;
}

.panel-border {
    border-radius: 3px;
}

.panel-border .panel-heading {
    background-color: #ffffff;
    border-top: 3px solid #ccc !important;
    border-radius: 3px;
    padding: 10px 20px 0px;
}

.panel-border .panel-body {
    padding: 15px 20px 20px 20px;
}

.panel-border.panel-primary .panel-heading {
    border-color: #C93756 !important;
    color: #C93756 !important;
}

.panel-border.panel-success .panel-heading {
    border-color: #00b19d !important;
    color: #00b19d !important;
}

.panel-border.panel-info .panel-heading {
    border-color: #3ddcf7 !important;
    color: #3ddcf7 !important;
}

.panel-border.panel-warning .panel-heading {
    border-color: #ffaa00 !important;
    color: #ffaa00 !important;
}

.panel-border.panel-danger .panel-heading {
    border-color: #ef5350 !important;
    color: #ef5350 !important;
}

.panel-border.panel-purple .panel-heading {
    border-color: #7266ba !important;
    color: #7266ba !important;
}

.panel-border.panel-pink .panel-heading {
    border-color: #f76397 !important;
    color: #f76397 !important;
}

.panel-border.panel-inverse .panel-heading {
    border-color: #4c5667 !important;
    color: #4c5667 !important;
}

.checkbox {
    padding-left: 20px;
}

.checkbox label {
    display: inline-block;
    padding-left: 5px;
    position: relative;
}

.checkbox label::before {
    -o-transition: 0.3s ease-in-out;
    -webkit-transition: 0.3s ease-in-out;
    background-color: #ffffff;
    border-radius: 3px;
    border: 1px solid #cccccc;
    content: "";
    display: inline-block;
    height: 17px;
    left: 0;
    margin-left: -20px;
    position: absolute;
    transition: 0.3s ease-in-out;
    width: 17px;
    outline: none !important;
}

.checkbox label::after {
    color: #555555;
    display: inline-block;
    font-size: 11px;
    height: 16px;
    left: 0;
    margin-left: -20px;
    padding-left: 3px;
    padding-top: 1px;
    position: absolute;
    top: 0;
    width: 16px;
}

.checkbox input[type="checkbox"] {
    cursor: pointer;
    opacity: 0;
    z-index: 1;
    outline: none !important;
}

.checkbox input[type="checkbox"]:disabled+label {
    opacity: 0.65;
}

.checkbox input[type="checkbox"]:focus+label::before {
    outline-offset: -2px;
    outline: none;
}

.checkbox input[type="checkbox"]:checked+label::after {
    content: "\f00c";
    font-family: 'FontAwesome';
}

.checkbox input[type="checkbox"]:disabled+label::before {
    background-color: #eeeeee;
    cursor: not-allowed;
}

.checkbox.checkbox-circle label::before {
    border-radius: 50%;
}

.checkbox.checkbox-inline {
    margin-top: 0;
}

.checkbox.checkbox-single label {
    height: 17px;
}

.checkbox-primary input[type="checkbox"]:checked+label::before {
    background-color: #C93756;
    border-color: #C93756;
}

.checkbox-primary input[type="checkbox"]:checked+label::after {
    color: #ffffff;
}

.checkbox-danger input[type="checkbox"]:checked+label::before {
    background-color: #ef5350;
    border-color: #ef5350;
}

.checkbox-danger input[type="checkbox"]:checked+label::after {
    color: #ffffff;
}

.checkbox-info input[type="checkbox"]:checked+label::before {
    background-color: #3ddcf7;
    border-color: #3ddcf7;
}

.checkbox-info input[type="checkbox"]:checked+label::after {
    color: #ffffff;
}

.checkbox-warning input[type="checkbox"]:checked+label::before {
    background-color: #ffaa00;
    border-color: #ffaa00;
}

.checkbox-warning input[type="checkbox"]:checked+label::after {
    color: #ffffff;
}

.checkbox-success input[type="checkbox"]:checked+label::before {
    background-color: #00b19d;
    border-color: #00b19d;
}

.checkbox-success input[type="checkbox"]:checked+label::after {
    color: #ffffff;
}

.checkbox-purple input[type="checkbox"]:checked+label::before {
    background-color: #7266ba;
    border-color: #7266ba;
}

.checkbox-purple input[type="checkbox"]:checked+label::after {
    color: #ffffff;
}

.checkbox-pink input[type="checkbox"]:checked+label::before {
    background-color: #f76397;
    border-color: #f76397;
}

.checkbox-pink input[type="checkbox"]:checked+label::after {
    color: #ffffff;
}

.checkbox-inverse input[type="checkbox"]:checked+label::before {
    background-color: #4c5667;
    border-color: #4c5667;
}

.checkbox-inverse input[type="checkbox"]:checked+label::after {
    color: #ffffff;
}

.radio {
    padding-left: 20px;
}

.radio label {
    display: inline-block;
    padding-left: 5px;
    position: relative;
}

.radio label::before {
    -o-transition: border 0.5s ease-in-out;
    -webkit-transition: border 0.5s ease-in-out;
    background-color: #ffffff;
    border-radius: 50%;
    border: 1px solid #cccccc;
    content: "";
    display: inline-block;
    height: 17px;
    left: 0;
    margin-left: -20px;
    outline: none !important;
    position: absolute;
    transition: border 0.5s ease-in-out;
    width: 17px;
}

.radio label::after {
    -moz-transition: -moz-transform 0.1s cubic-bezier(0.8, -0.33, 0.2, 1.33);
    -ms-transform: scale(0, 0);
    -o-transform: scale(0, 0);
    -o-transition: -o-transform 0.1s cubic-bezier(0.8, -0.33, 0.2, 1.33);
    -webkit-transform: scale(0, 0);
    -webkit-transition: -webkit-transform 0.1s cubic-bezier(0.8, -0.33, 0.2, 1.33);
    background-color: #555555;
    border-radius: 50%;
    content: " ";
    display: inline-block;
    height: 11px;
    left: 3px;
    margin-left: -20px;
    position: absolute;
    top: 3px;
    transform: scale(0, 0);
    transition: transform 0.1s cubic-bezier(0.8, -0.33, 0.2, 1.33);
    width: 11px;
}

.radio input[type="radio"] {
    cursor: pointer;
    opacity: 0;
    z-index: 1;
    outline: none !important;
}

.radio input[type="radio"]:disabled+label {
    opacity: 0.65;
}

.radio input[type="radio"]:focus+label::before {
    outline-offset: -2px;
    outline: 5px auto -webkit-focus-ring-color;
    outline: thin dotted;
}

.radio input[type="radio"]:checked+label::after {
    -ms-transform: scale(1, 1);
    -o-transform: scale(1, 1);
    -webkit-transform: scale(1, 1);
    transform: scale(1, 1);
}

.radio input[type="radio"]:disabled+label::before {
    cursor: not-allowed;
}

.radio.radio-inline {
    margin-top: 0;
}

.radio.radio-single label {
    height: 17px;
}

.radio-primary input[type="radio"]+label::after {
    background-color: #C93756;
}

.radio-primary input[type="radio"]:checked+label::before {
    border-color: #C93756;
}

.radio-primary input[type="radio"]:checked+label::after {
    background-color: #C93756;
}

.radio-danger input[type="radio"]+label::after {
    background-color: #ef5350;
}

.radio-danger input[type="radio"]:checked+label::before {
    border-color: #ef5350;
}

.radio-danger input[type="radio"]:checked+label::after {
    background-color: #ef5350;
}

.radio-info input[type="radio"]+label::after {
    background-color: #3ddcf7;
}

.radio-info input[type="radio"]:checked+label::before {
    border-color: #3ddcf7;
}

.radio-info input[type="radio"]:checked+label::after {
    background-color: #3ddcf7;
}

.radio-warning input[type="radio"]+label::after {
    background-color: #ffaa00;
}

.radio-warning input[type="radio"]:checked+label::before {
    border-color: #ffaa00;
}

.radio-warning input[type="radio"]:checked+label::after {
    background-color: #ffaa00;
}

.radio-success input[type="radio"]+label::after {
    background-color: #00b19d;
}

.radio-success input[type="radio"]:checked+label::before {
    border-color: #00b19d;
}

.radio-success input[type="radio"]:checked+label::after {
    background-color: #00b19d;
}

.radio-purple input[type="radio"]+label::after {
    background-color: #7266ba;
}

.radio-purple input[type="radio"]:checked+label::before {
    border-color: #7266ba;
}

.radio-purple input[type="radio"]:checked+label::after {
    background-color: #7266ba;
}

.radio-pink input[type="radio"]+label::after {
    background-color: #f76397;
}

.radio-pink input[type="radio"]:checked+label::before {
    border-color: #f76397;
}

.radio-pink input[type="radio"]:checked+label::after {
    background-color: #f76397;
}

.radio-inverse input[type="radio"]+label::after {
    background-color: #4c5667;
}

.radio-inverse input[type="radio"]:checked+label::before {
    border-color: #4c5667;
}

.radio-inverse input[type="radio"]:checked+label::after {
    background-color: #4c5667;
}

.full-height {
    height: 100vh;
}

.full-height.landing {
    background-color: #C93756;
}

.g-ver-center {
    position: absolute;
    top: 50%;
    left: 0;
    right: 0;
    -webkit-transform: translate3d(0, -50%, 0);
    transform: translate3d(0, -50%, 0);
}

.s-page-loader-v1 {
    position: fixed;
    top: 0;
    z-index: 99999;
    width: 100%;
    height: 100%;
    background-image: linear-gradient(145deg, #C93756 0, #de4163 100%);
    background-repeat: repeat-x
}

.s-page-loader-v1 .loading_text {
    font-size: 30px;
}

.s-page-loader-v1__element {
    position: relative;
    width: 100%;
    display: block;
    margin-left: auto;
    margin-right: auto;
    opacity: 1;
    -webkit-transform: scale(1, 1);
    transform: scale(1, 1);
    transition-duration: 1s
}

.s-page-loader-v1__loading-pulse-1, .s-page-loader-v1__loading-pulse-2, .s-page-loader-v1__loading-pulse-3 {
    position: relative;
    display: inline-block;
    width: .4rem;
    height: .4rem;
    border-radius: 50%;
    background: #fff;
    margin: 0 .12rem;
    -webkit-animation: page-loader-v2__element 1.5s ease-in-out infinite both;
    animation: page-loader-v2__element 1.5s ease-in-out infinite both
}

.s-page-loader-v1__loading-pulse-2 {
    -webkit-animation-delay: -.16s;
    animation-delay: -.16s
}

.s-page-loader-v1__loading-pulse-3 {
    -webkit-animation-delay: -.32s;
    animation-delay: -.32s
}

.s-page-loader-v1.-is-animated {
    -webkit-animation: page-loader-v2__loaded 1s cubic-bezier(.7, 0, .3, 1) forwards;
    animation: page-loader-v2__loaded 1s cubic-bezier(.7, 0, .3, 1) forwards
}

.s-page-loader-v1.-is-animated .s-page-loader-v1__element {
    -webkit-transform: scale(.3, .3);
    transform: scale(.3, .3);
    opacity: 0
}

@-webkit-keyframes page-loader-v2__element {
    0, 100% {
        -webkit-transform: scale(1, 1);
        transform: scale(1, 1)
    }
    50% {
        -webkit-transform: scale(0, 0);
        transform: scale(0, 0)
    }
}

@keyframes page-loader-v2__element {
    0, 100% {
        -webkit-transform: scale(1, 1);
        transform: scale(1, 1)
    }
    50% {
        -webkit-transform: scale(0, 0);
        transform: scale(0, 0)
    }
}

@-webkit-keyframes page-loader-v2__loaded {
    to {
        -webkit-transform: translate3d(0, -100%, 0);
        transform: translate3d(0, -100%, 0)
    }
}

@keyframes page-loader-v2__loaded {
    to {
        -webkit-transform: translate3d(0, -100%, 0);
        transform: translate3d(0, -100%, 0)
    }
}

.main-header {
    position: fixed;
    top: 0;
    width: 100%;
    left: 0;
    z-index: 999;
    background-color: #C93756;
}

.main-header .navbar-default {
    margin: 0;
    border-radius: 0;
    border: none;
    padding: 8px 0;
    background-color: transparent;
}

.main-header .container-fluid {
    max-width: 1600px;
}

.main-header .navbar-brand {
    padding: 0;
    height: auto;
    margin-right: 20px;
    padding-left: 15px;
}

.main-header .navbar-brand>img {
    margin-top: 7px;
}

.main-header .nav>li>a {
    color: #fff;
    font-size: 14px;
    padding: 10px 13px;
    font-weight: 500;
    opacity: 0.8;
    transition: opacity 200ms;
}

.main-header .navbar-nav {
    margin: 5px 0;
}

.main-header .navbar-nav.navbar-right {
    margin-top: 10px;
}

.main-header .nav>li>a.social-icons {
    font-size: 20px;
    padding: 7px 5px;
}

.main-header .nav>li>a.btn {
    background-color: transparent;
    border: 2px solid rgba(255, 255, 255, 0.8);
    border-radius: 20px;
    padding: 4px 15px;
}

.main-header .navbar-right li a {
    margin-left: 10px;
}

.main-header .navbar-default .navbar-nav>.open>a, .main-header .navbar-default .navbar-nav>.open>a:focus, .main-header .navbar-default .navbar-nav>.open>a:hover {
    background-color: transparent;
    color: #fff;
}

.main-header .navbar-default .navbar-nav>li>a:focus, .main-header .navbar-default .navbar-nav>li>a:hover {
    opacity: 1;
    color: #fff;
}

.main-header .dropdown-menu {
    min-width: 122px;
    box-shadow: rgba(0, 0, 0, 0.0980392) 0px 1px 3px;
    border-radius: 4px !important;
    border: none;
    padding: 0;
}

.main-header .dropdown-menu>li>a {
    color: #666;
    border-radius: 3px;
    padding: 5px 10px;
    margin: 4px;
    font-size: 12px;
    opacity: 0.6;
    font-weight: 500;
    transition: opacity 200ms;
}

.main-header .dropdown-menu>li>a:hover, .main-header .dropdown-menu>li.active>a {
    opacity: 1;
}

.main-header .navbar-default .navbar-nav>.active>a, .main-header .navbar-default .navbar-nav>.active>a:focus, .main-header .navbar-default .navbar-nav>.active>a:hover {
    color: #fff;
    background-color: transparent;
    opacity: 1;
}

.main-header .navbar-default .dropdown-menu>.active>a, .main-header .navbar-default .dropdown-menu>.active>a:focus {
    background-color: transparent;
    opacity: 1;
    color: #666;
}

.main-header .navbar-default .dropdown-menu>.active>a:hover {
    background-color: #f5f5f5;
}

.no-overflow {
    overflow: hidden;
}

.inner-pages {
    padding-top: 66px;
}

.btn.theme-btn {
    background-color: #C93756;
    border-radius: 4px;
    color: #fff;
}

.btn.btn-round {
    border-radius: 3.125rem;
}

.main-footer .logo img {
    text-align: center;
    position: absolute;
    top: -15px;
}

.main-footer .links {
    background-color: #282b30;
}

.main-footer .links .social-links {
    padding-top: 40px;
}

.main-footer .links .social-links a {
    font-size: 16px;
    color: #fff;
    padding: 0 5px;
}

.main-footer .links .copyright {
    text-align: center;
    font-size: 12px;
    color: #fff;
}

.main-footer .links .copyright p {
    padding-top: 40px;
    margin-bottom: 0;
    font-weight: 500;
    padding-bottom: 35px;
}

.main-footer .links .navs {
    padding-top: 40px;
    text-align: right;
}

.main-footer .links .navs a {
    color: #fff;
    font-size: 12px;
    padding: 0 5px;
    font-weight: 500;
}

.main-footer .logo {
    background-color: transparent;
}

.inner-page-title {
    padding: 100px 0;
    padding-top: 50px;
    background-color: #C93756;
}

.inner-page-title h1 {
    font-weight: 400;
    color: #fff;
}

.pagination>li>a, .pagination>li>span {
    border: 0;
    border-radius: 30px !important;
    transition: all .3s;
    padding: 0px 11px;
    margin: 0 3px;
    min-width: 30px;
    height: 30px;
    line-height: 30px;
    color: #999999;
    font-weight: 500;
    font-size: 12px;
    text-transform: uppercase;
    background: transparent;
}

.pagination>.active>a, .pagination>.active>a:focus, .pagination>.active>a:hover, .pagination>.active>span, .pagination>.active>span:focus, .pagination>.active>span:hover {
    background-color: #C93756;
    border-color: #C93756;
    color: #FFFFFF;
}

.divider {
    width: 100%;
    height: 0;
    margin-top: 20px;
    margin-bottom: 20px;
    border: 0;
    border-top: 1px solid #ddd;
    display: inline-block;
}

.separator span {
    width: 30px;
    height: 5px;
    border-radius: 30px;
    background-color: #4bafd3;
    margin-right: 3px;
    display: inline-block;
}

.hor-centered-row {
    display: table;
    width: 100%;
}

.modal {
    text-align: center;
    padding: 0!important;
}

.modal:before {
    content: '';
    display: inline-block;
    height: 100%;
    vertical-align: middle;
    margin-right: -4px;
}

.modal-dialog {
    display: inline-block;
    text-align: left;
    vertical-align: middle;
}

.modal.fade {
    -webkit-animation: hideModal 0.15s forwards;
    animation: hideModal 0.15s forwards;
}

.modal.in {
    -webkit-animation: showModal 0.3s;
    animation: showModal 0.3s;
}

@-webkit-keyframes showModal {
    0% {
        -webkit-transform: scale(0.7);
        transform: scale(0.7);
    }
    45% {
        -webkit-transform: scale(1.05);
        transform: scale(1.05);
    }
    80% {
        -webkit-transform: scale(0.95);
        transform: scale(0.95);
    }
    100% {
        -webkit-transform: scale(1);
        transform: scale(1);
    }
}

@keyframes showModal {
    0% {
        -webkit-transform: scale(0.7);
        transform: scale(0.7);
    }
    45% {
        -webkit-transform: scale(1.05);
        transform: scale(1.05);
    }
    80% {
        -webkit-transform: scale(0.95);
        transform: scale(0.95);
    }
    100% {
        -webkit-transform: scale(1);
        transform: scale(1);
    }
}

@-webkit-keyframes hideModal {
    0% {
        -webkit-transform: scale(1);
        transform: scale(1);
        opacity: 1;
    }
    100% {
        -webkit-transform: scale(0.5);
        transform: scale(0.5);
        opacity: 0;
    }
}

@keyframes hideModal {
    0% {
        -webkit-transform: scale(1);
        transform: scale(1);
        opacity: 1;
    }
    100% {
        -webkit-transform: scale(0.5);
        transform: scale(0.5);
        opacity: 0;
    }
}

body.modal-open {
    padding: 0 !important;
}

.modal.fade .modal-dialog {
    transform: inherit;
}

.modal-content {
    -webkit-box-shadow: none;
    box-shadow: none;
    border-radius: 4px;
    border: none;
    overflow: hidden;
}

.modal-title {
    text-transform: capitalize;
    font-size: 16px;
    font-weight: 500;
    color: #C93756;
}

.modal-body label {
    font-weight: normal;
    font-size: 13px;
    color: #666;
}

.modal-header {
    border: none;
}

.modal button.close {
    margin-top: 3px;
    font-size: 16px;
    color: #C93756;
    opacity: 0.5;
}

.modal-body {
    padding: 0 40px;
    text-align: center;
}

.modal-body .form-control {
    height: 45px;
    color: #0e3655;
    text-align: center;
}

.modal-body textarea.form-control {
    height: 100px;
}

.modal-body .select2-container {
    display: block;
    width: 100% !important;
}

.modal-body .select2-container--default .select2-selection--multiple {
    border: 2px solid #f3f3f3;
    height: 40px;
}

.modal-body .select2-container--default.select2-container--focus .select2-selection--multiple {
    border-color: #e0e0e0;
    border-radius: 2px !important;
}

.modal-backdrop {
    position: fixed;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    z-index: 1040;
    background-color: rgba(201, 55, 86, 0.8);
    opacity: 0;
    -webkit-transition: .2s opacity;
    -o-transition: .2s opacity;
    transition: .2s opacity;
}

.modal-backdrop.in {
    opacity: 1;
}

.modal-body h2 {
    margin: 0;
    font-size: 28px;
    color: #0e3655;
    font-weight: 300;
}

.modal-body form {
    margin-top: 30px;
}

#loginModal .modal-dialog {
    width: 450px;
}

#loginModal .modal-body {
    padding-top: 0;
}

.modal .modal-body .social-links h3 {
    text-transform: capitalize;
    font-size: 18px;
    color: #0e3655;
    margin-bottom: 20px;
    font-weight: 700;
}

.modal .modal-body .social-links h3 span {
    font-weight: 300;
    font-size: 14px;
    position: relative;
    display: block;
}

.modal .modal-body .social-links h3 span::before {
    content: "";
    background-color: #ddd;
    width: 100px;
    height: 1px;
    position: absolute;
    right: 25px;
    top: 7px;
}

.modal .modal-body .social-links h3 span::after {
    content: "";
    background-color: #ddd;
    width: 100px;
    height: 1px;
    position: absolute;
    left: 25px;
    top: 7px;
}

.modal .modal-body .social-links .btn-icon {
    font-size: 15px;
    padding: 0;
    width: 35px;
    height: 35px;
    text-align: center;
    line-height: 32px;
    display: inline-block;
}

#loginModal .modal-footer {
    text-align: center;
    border: none;
    padding-bottom: 40px;
}

#loginModal .modal-footer p {
    color: #333;
    margin-bottom: 0;
}

#registerModal .modal-dialog {
    width: auto;
}

#registerModal .modal-body {
    position: relative;
    padding: 0;
}

#registerModal .imageblock-content {
    position: absolute;
    height: 100%;
    top: 0;
    z-index: 2;
    padding: 0;
    left: 0;
}

#registerModal .background-image-holder {
    will-change: transform, top;
    position: absolute;
    height: 100%;
    top: 0;
    left: 0;
    width: 100%;
    border-radius: 6px 0 0 6px;
    background-size: cover !important;
    background-position: 50% 50% !important;
    z-index: 0;
    transition: 0.3s linear;
    -webkit-transition: 0.3s linear;
    -moz-transition: 0.3s linear;
    opacity: 1;
}

#registerModal .container {
    padding: 40px 0;
}

#registerModal .modal-body p {
    color: #666;
    margin-top: 10px;
}

#registerModal button.close {
    margin-top: 15px;
    margin-right: 15px;
    position: relative;
    z-index: 7;
}

#registerModal .modal-footer {
    border: none;
    text-align: center;
    padding-bottom: 0;
}

.search {
    position: relative;
}

.search .form-control {
    height: 40px;
    padding-left: 20px;
    font-weight: 400;
    border-radius: 30px;
    border: none;
}

.search .form-control+.btn {
    position: absolute;
    right: 3px;
    top: 3px;
    border-radius: 50%;
    width: 34px;
    height: 34px;
    display: inline-block;
    padding: 0;
    text-align: center;
}

.search .form-control+.btn i {
    font-weight: 700;
    font-size: 12px;
}

.grid {
    padding: 65px 0;
    background-color: #f7f8fb;
}

.grid .parent-border {
    position: relative;
    z-index: 0;
}

.grid .main-area .newest-item {
    background-color: #ededed;
    width: 100%;
    display: inline-block;
    position: relative;
    border-radius: 6px;
    margin-bottom: 30px;
}

.grid .main-area .feature {
    position: relative;
    width: 100%;
    overflow: hidden;
}

.grid .main-area .feature img {
    border-radius: 6px 6px 0 0;
}

.grid .main-area .content {
    padding: 30px;
}

.grid .main-area .newest-item h4 {
    line-height: 28px;
    color: #0e3655;
    font-size: 16px;
    font-weight: 400;
    margin-top: 0;
}

.grid .main-area .newest-item h4 a {
    color: #0e3655;
}

.grid .main-area .newest-item .date-time span {
    margin-left: 18px;
    color: #0e3655;
    font-size: 15px;
}

.grid .main-area .newest-item .date-time span i {
    padding-right: 8px;
    color: #888;
    font-weight: 700;
}

.grid .main-area .divider {
    width: 100%;
    height: 0;
    margin-top: 20px;
    margin-bottom: 20px;
    border: 0;
    border-top: 1px solid #ddd;
    display: inline-block;
}

.grid .main-area .newest-item+.newest-item {
    margin-top: 60px;
}

.grid .main-area .newest-item p {
    color: #0e3655;
}

.grid .main-area .newest-item .author .avatar {
    width: 40px;
    height: 40px;
}

.grid .main-area .newest-item .author .avatar img {
    width: 100%;
}

.grid .main-area .author {
    position: relative;
}

.grid .main-area .author p {
    margin-bottom: 0;
    margin-left: 55px;
    line-height: 40px;
}

.grid .main-area .newest-item .author .actions {
    position: absolute;
    right: 0;
    top: 13px;
    opacity: 0;
    -webkit-transition: all 0.4s;
    -moz-transition: all 0.4s;
    -o-transition: all 0.4s;
    -ms-transition: all 0.4s;
    transition: all 0.4s;
}

.grid .main-area .newest-item .author .actions a {
    padding-left: 5px;
}

.grid .main-area .newest-item .author .actions a i {
    font-size: 16px;
    font-weight: 700;
}

.grid .main-area .newest-item:hover .author .actions {
    opacity: 1;
}

.grid .main-area .author .actions a.btn {
    display: inline-block;
    width: 30px;
    height: 30px;
    padding: 0;
    text-align: center;
    line-height: 30px;
}

.grid .main-area .newest-item .author .actions a.btn i {
    font-weight: 700;
}

.grid .main-area .border:after {
    content: "";
    top: 10px;
    width: 100%;
    height: 100%;
    border: 3px solid #ededed;
    position: absolute;
    z-index: -1;
    left: 10px;
    border-radius: 6px;
    transition: all 0.6s;
}

.grid .pagination-wraper {
    border-top: 1px solid #ededed;
    padding-top: 30px;
    width: 100%;
    overflow: hidden;
    display: inline-block;
}

.grid .pagination {
    margin: 0;
}

.sidebar .widget h3 {
    color: #0e3655;
}

.sidebar .widget ul {
    list-style: none;
    padding-left: 0;
}

.sidebar .widget ul li {
    margin-bottom: 20px;
}

.sidebar .widget ul li a {
    text-transform: capitalize;
    display: block;
    color: #0e3655;
}

.sidebar .widget ul li a i {
    display: inline-block;
    width: 25px;
    font-size: 16px;
    vertical-align: middle;
    color: #C93756;
}

.sidebar .widget+.widget {
    margin-top: 50px;
}

.sidebar .widget .btn {
    width: 90%;
}

.sidebar .widget h3 {
    font-size: 20px;
    font-weight: 400;
    margin-bottom: 0;
}

.grid .list-item .newest-item {
    margin-bottom: 0px;
}

.grid .list-item .newest-item .feature {
    width: 33.33333333%;
    float: left;
    display: inline-block;
}

.grid .list-item .newest-item .feature img {
    border-radius: 6px 0px 0px 6px;
}

.grid .list-item .newest-item .content {
    width: 66.66666667%;
    float: left;
    padding: 20px;
}

.grid .list-item .newest-item .divider {
    margin-top: 10px;
    margin-bottom: 15px;
}

.grid .list-item .newest-item+.newest-item {
    margin-top: 40px;
}

.grid .list-item {
    margin-bottom: 50px;
}

.single {
    padding: 65px 0;
}
.single .area .feature {
    position: relative;
    width: 100%;
    overflow: hidden;
}
.single .area .feature img {
    border-radius: 6px 6px 0 0;
}
.single .area .item .content {
    background-color: #ededed;
    padding: 50px;
    border-radius: 0 0 6px 6px;
}
.single .area .item h4 {
    color: #0e3655;
    font-size: 22px;
    font-weight: 400;
    margin-top: 0;
    line-height: 30px;
}
.single .area .item .metas .date-time span {
    padding-right: 7px;
}
.single .area .item .metas .date-time span img {
    width: 26px;
    height: 26px;
}

.text-black {
    color: #0e3655;
}
.single .area .item .metas .tag .btn {
    padding: 5px 18px;
    border-radius: 30px;
    -webkit-box-shadow: none;
    box-shadow: none;
}
.single .area .item p {
    color: #0e3655;
}
.single .area .item h5 {
    color: #0e3655;
    font-size: 16px;
    line-height: 26px;
    margin: 30px 0;
}
.single .area ul {
    margin: 0;
    padding: 0;
    list-style: none;
}
.single .area .service li {
    line-height: 28px;
}
.single .area .item .service li a {
    color: #0e3655;
}
.single .area .item .service li a span.icon {
    font-size: 15px;
    color: #C93756;
    margin-right: 8px;
}
.single .area .item .tags li a {
    border: 1px solid #ededed;
    padding: 6px 15px;
    color: #0e3655;
    border-radius: 30px;
    text-transform: capitalize;
    font-size: 13px;
    background-color: #fff;
}
.single .area .item .tags li:hover a {
    background-color: #C93756;
    border-color: #C93756;
    color: #fff;
}
.single .area .item .socail {
    margin-left: -10px;
    border-top: 1px solid #ededed;
    padding-top: 20px;
}
.single .area .item .socail a {
    margin-left: 10px;
}
.single .area .item .socail a span {
    width: 25px;
    height: 25px;
    line-height: 25px;
    text-align: center;
    display: inline-block;
    background-color: #ddd;
    border-radius: 50%;
    color: #fff;
    font-size: 12px;
}
.single .area .item .socail a:nth-child(2) span {
    background-color: #4e598f;
}
.single .area .item .socail a:nth-child(3) span {
    background-color: #65a2d9;
}
.single .area .item .socail a:nth-child(4) span {
    background-color: #d22215;
}
.single .area .item .socail a:nth-child(5) span {
    background-color: #4376b1;
}
.single .area .item .metas .date-time span i.fa {
    padding-right: 7px;
}
.single .comments-area {
    margin-top: 60px;
    background-color: #ededed;
    border-radius: 6px;
    padding: 50px;
    margin-bottom: 60px;
}
.single .comments-area .title h3 {
    color: #0e3655;
    font-size: 20px;
    font-weight: 400;
    margin: 0;
}
.single .comments-area .title .separator span {
    width: 30px;
    height: 5px;
    border-radius: 30px;
    background-color: #4bafd3;
    margin-right: 3px;
    display: inline-block;
}
.single .comments-area .media-list {
    margin-top: 30px;
}
.single .comments-area .media-list .media-object {
    width: 64px;
    height: 64px;
    margin-right: 10px;
}
.single .comments-area .media-list .media-heading {
    color: #0e3655;
    margin-bottom: 15px;
    font-size: 16px;
}
.single .comments-area .media-list .media-heading span {
    display: block;
    font-size: 13px;
    margin-top: 10px;
    color: #666;
}
.single .comments-area .media-list .media-body {
    color: #333;
    position: relative;
}
.single .comments-area .media-list .media {
    border-bottom: 1px solid #ededed;
    padding-bottom: 20px;
    margin-top: 20px;
}
.single .comments-area .media-list .media:last-child {
    border: none;
}
.single .comments-area .media-list .media-body .post-reply {
    position: absolute;
    right: 0;
    bottom: 0;
    font-size: 20px;
}
.single .post-form-area {
    background-color: #ededed;
    padding: 50px;
    border-radius: 6px;
}
.single .post-form-area .post-form-title h3 {
    color: #0e3655;
    font-size: 20px;
    font-weight: 400;
    margin: 0;
}
.single .post-form-area .post-form-title .separator span {
    width: 30px;
    height: 5px;
    border-radius: 30px;
    background-color: #4bafd3;
    margin-right: 3px;
    display: inline-block;
}
.single .post-form-area .post-form-title {
    margin-bottom: 30px;
}
.single .post-form-area form .form-control {
    padding: 15px;
    height: 45px;
    border: none;
    border-radius: 4px;
    background-color: #fff;
}
.single .post-form-area form textarea.form-control {
    height: 100px;
}

.create {
    padding: 65px 0;
}

.create .post-wraper {
    padding: 50px;
    background-color: #ededed;
    border-radius: 6px;
}

.create .post-wraper .title h3 {
    color: #0e3655;
    font-size: 20px;
    font-weight: 400;
    margin: 0;
}

.create .post-wraper .title {
    margin-bottom: 30px;
}

.create .post-wraper label {
    text-transform: capitalize;
    color: #0e3655;
    display: block;
    font-weight: 400;
}

.create .post-wraper .form-control {
    background-color: #fff;
    border-radius: 3px;
    min-height: 40px;
    color: #0e3655;
    font-size: 13px;
}

.create .post-wraper .form-control:focus {
    border-color: #C93756;
}

.dropzone-previews {
    border-radius: 3px;
    border: 1px dashed #ddd;
    -webkit-transition: 0.3s ease-in-out;
    transition: 0.3s ease-in-out;
    min-height: 150px;
    background: white;
    padding: 10px 10px;
    margin-bottom: 3px;
}

.dropzone-previews .dz-message i {
    display: block;
    color: #C93756;
    font-size: 36px;
    margin-bottom: 10px;
}

.dropzone-previews:hover {
    border-color: #C93756;
}

.image-editor, .image-display{
    min-height: 150px;
    border: 2px solid rgba(0, 0, 0, 0.3);
    background: white;
    padding: 10px 10px;
    border-radius: 3px;
    border: 1px dashed #ddd;
    -webkit-transition: 0.3s ease-in-out;
    transition: 0.3s ease-in-out;
    margin-bottom: 3px;
}



.profile-wraper {
    background-color: #f7f7f7;
    min-height: 850px;
    padding: 60px 0;
}
.profile-wraper .info-box {
    background-color: #fff;
    border-radius: 6px;
    overflow: hidden;
}
.profile-wraper .info-box .cover-pic {
    min-height: 140px;
    position: relative;
    -webkit-background-size: cover;
    background-size: cover;
    background-position: center;
}
.profile-wraper .info-box .cover-pic::before {
    background-color: #000;
    content: '';
    position: absolute;
    left: 0;
    right: 0;
    top: 0;
    display: block;
    width: 100%;
    bottom: 0;
    opacity: 0.3;
}
.profile-wraper .info-box .info {
    position: relative;
    z-index: 1;
    padding: 0px 30px 30px 30px;
}
.profile-wraper .info-box .img-wrap {
    border-radius: 50%;
    height: 130px;
    margin: -80px auto 0;
    padding: 4px;
    position: relative;
    width: 130px;
    background: #fff;
}
.profile-wraper .info-box .img-wrap img {
    width: 122px;
    height: 122px;
}
.profile-wraper .info-box .info h3 {
    color: #666;
    font-size: 18px;
}
.profile-wraper .info-box .info h4 {
    font-size: 12px;
    color: #999;
}
.profile-wraper .tabs {
    background-color: #fff;
    border-radius: 6px;
}
.profile-wraper .tabs .nav-tabs {
    border-bottom: 1px solid #eee;
    padding-top: 15px;
    padding-bottom: 15px;
}
.profile-wraper .tabs .nav-tabs li {
    position: relative;
    text-align: center;
}
.profile-wraper .tabs .nav-tabs li::after {
    background-color: #C93756;
    content: '';
    display: block;
    width: 0;
    height: 2px;
    bottom: -15px;
    position: relative;
    margin: 0 auto;
    -webkit-transition: 0.3s ease-in-out;
    transition: 0.3s ease-in-out;
}
.profile-wraper .tabs .nav-tabs li a {
    border: none;
    border-radius: 0;
    background-color: transparent;
    padding: 0 15px;
    color: #333;
    opacity: 0.5;
    -webkit-transition: 0.3s ease-in-out;
    transition: 0.3s ease-in-out;
}
.profile-wraper .tabs .nav-tabs li a i {
    font-weight: 700;
    margin-right: 2px;
    font-size: 12px;
}
.profile-wraper .tabs .nav-tabs li.active a {
    opacity: 1;
}
.profile-wraper .tabs .nav-tabs li.active a i {
    color: #C93756;
}
.profile-wraper .tabs .nav-tabs li.active::after {
    width: calc(100% - 30px);
}
.profile-wraper .tabs .tab-content {
    padding: 15px;
    color: #666;
}
.profile-wraper .tabs .tab-content h3 {
    margin-top: 0;
    font-size: 18px;
}

.profile-wraper .info-box .social {
    border-top: 1px solid rgba(33, 33, 33, 0.05);
    padding: 30px 15px;
    color: #212121;
}
.profile-wraper .info-box .social .counts {
    font-size: 21px;
}
.profile-wraper .info-box .social .block {
    display: block;
}
.profile-wraper .info-box .social .head-font {
    font-weight: 700;
    color: #666;
}
.profile-wraper .info-box .social .counts-text {
    color: #999;
}
.profile-wraper .info-box .info .btn-social {
    height: 32px;
    width: 32px;
    text-align: center;
    border-radius: 50%;
    padding: 6px;
}

.profile-wraper .info-box .info .btn i {
    font-size: 16.5px;
    line-height: 19px;
}
.profile-wraper .info-box.stats {
    padding: 30px;
}
.profile-wraper .info-box.stats ul {
    margin: 0;
    padding: 0;
    list-style: none;
}
.profile-wraper .info-box.stats ul li {
    position: relative;
    margin-bottom: 15px;
}
.profile-wraper .info-box.stats ul li:last-child {
    margin-bottom: 0;
}
.profile-wraper .info-box.stats ul li a {
    color: #0e3655;
}
.profile-wraper .info-box.stats ul li a span {
    float: right;
    opacity: 0.3;
}
.profile-wraper .info-box.stats ul li i {
    display: inline-block;
    width: 25px;
    font-size: 16px;
    vertical-align: middle;
}

.sidebar .widget.search form {
    position: relative;
}
.sidebar .widget.search form .form-control {
    background-color: #fff;
    border: 1px solid #dedede;
}
.sidebar .widget.search form .btn {
    width: 34px;
}
.sidebar .widget.tags ul li {
    display: inline-block;
    margin: 0 5px 10px 0px;
}
.sidebar .widget.tags ul li a {
    background-color: #ededed;
    padding: 5px 10px;
    border-radius: 20px;
    -webkit-transition: 0.3s ease-in-out;
    transition: 0.3s ease-in-out;
}
.sidebar .widget.tags ul li a:hover {
    background-color: #C93756;
    color: #fff;
}

/* ==========================================================================
   Helper classes
   ========================================================================== */


/*
 * Hide visually and from screen readers
 */

.hidden {
    display: none !important;
}


/*
 * Hide only visually, but have it available for screen readers:
 * http://snook.ca/archives/html_and_css/hiding-content-for-accessibility
 */

.visuallyhidden {
    border: 0;
    clip: rect(0 0 0 0);
    height: 1px;
    margin: -1px;
    overflow: hidden;
    padding: 0;
    position: absolute;
    width: 1px;
}


/*
 * Extends the .visuallyhidden class to allow the element
 * to be focusable when navigated to via the keyboard:
 * https://www.drupal.org/node/897638
 */

.visuallyhidden.focusable:active, .visuallyhidden.focusable:focus {
    clip: auto;
    height: auto;
    margin: 0;
    overflow: visible;
    position: static;
    width: auto;
}


/*
 * Hide visually and from screen readers, but maintain layout
 */

.invisible {
    visibility: hidden;
}


/*
 * Clearfix: contain floats
 *
 * For modern browsers
 * 1. The space content is one way to avoid an Opera bug when the
 *    `contenteditable` attribute is included anywhere else in the document.
 *    Otherwise it causes space to appear at the top and bottom of elements
 *    that receive the `clearfix` class.
 * 2. The use of `table` rather than `block` is only necessary if using
 *    `:before` to contain the top-margins of child elements.
 */

.clearfix:before, .clearfix:after {
    content: " ";
    /* 1 */
    display: table;
    /* 2 */
}

.clearfix:after {
    clear: both;
}


/* ==========================================================================
   EXAMPLE Media Queries for Responsive Design.
   These examples override the primary ('mobile first') styles.
   Modify as content requires.
   ========================================================================== */
@media only screen and (max-width: 1200px) {
    .grid .list-item .newest-item h4 {
        margin-bottom: 0;
        font-size: 15px;
        line-height: 24px;
    }
    .grid .list-item .newest-item .author p {
        line-height: 25px;
        margin-left: 40px;
    }
    .grid .list-item .newest-item .author .avatar {
        width: 25px !important;
        height: 25px !important;
    }
    .grid .list-item .newest-item .metas {
        margin-top: 15px !important;
    }
    .grid .list-item .newest-item .divider {
        margin-bottom: 10px;
    }
    .grid .list-item .newest-item .author .actions {
        top: 5px;
    }
}

@media screen and (max-width: 1024px) {
    .main-header .navbar-default .navbar-toggle {
        width: 60px;
        height: 45px;
        position: relative;
        cursor: pointer;
        -webkit-transform: scale(.3);
        -moz-transform: scale(.3);
        -o-transform: scale(.3);
        -ms-transform: scale(.3);
        transform: scale(.3);
        padding: 0;
        border: none;
        background-color: transparent;
        margin: 0;
        border-radius: 0;
        position: absolute;
        right: 0;
        top: 10px;
    }
    .main-header .navbar-toggle span {
        display: block;
        position: absolute;
        height: 9px;
        width: 50%;
        background: #fff;
        opacity: 1;
        -ms-filter: none;
        filter: none;
        -webkit-transform: rotate(0);
        -moz-transform: rotate(0);
        -o-transform: rotate(0);
        -ms-transform: rotate(0);
        transform: rotate(0);
        -webkit-transition: .25s ease-in-out;
        -moz-transition: .25s ease-in-out;
        -o-transition: .25s ease-in-out;
        -ms-transition: .25s ease-in-out;
        transition: .25s ease-in-out
    }
    .main-header .navbar-toggle span:nth-child(even) {
        left: 50%;
        -webkit-border-radius: 0 9px 9px 0;
        border-radius: 0 9px 9px 0
    }
    .main-header .navbar-toggle span:nth-child(odd) {
        left: 0;
        -webkit-border-radius: 9px 0 0 9px;
        border-radius: 9px 0 0 9px
    }
    .main-header .navbar-toggle span:nth-child(1), .main-header .navbar-toggle span:nth-child(2) {
        top: 0
    }
    .main-header .navbar-toggle span:nth-child(3), .main-header .navbar-toggle span:nth-child(4) {
        top: 18px
    }
    .main-header .navbar-toggle span:nth-child(5), .main-header .navbar-toggle span:nth-child(6) {
        top: 36px
    }
    .main-header .navbar-toggle.open span:nth-child(1), .main-header .navbar-toggle.open span:nth-child(6) {
        -webkit-transform: rotate(45deg);
        -moz-transform: rotate(45deg);
        -o-transform: rotate(45deg);
        -ms-transform: rotate(45deg);
        transform: rotate(45deg)
    }
    .main-header .navbar-toggle.open span:nth-child(2), .main-header .navbar-toggle.open span:nth-child(5) {
        -webkit-transform: rotate(-45deg);
        -moz-transform: rotate(-45deg);
        -o-transform: rotate(-45deg);
        -ms-transform: rotate(-45deg);
        transform: rotate(-45deg)
    }
    .main-header .navbar-toggle.open span:nth-child(1) {
        left: 5px;
        top: 7px
    }
    .main-header .navbar-toggle.open span:nth-child(2) {
        left: calc(50% - 5px);
        top: 7px
    }
    .main-header .navbar-toggle.open span:nth-child(3) {
        left: -50%;
        opacity: 0;
        -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=0)";
        filter: alpha(opacity=0)
    }
    .main-header .navbar-toggle.open span:nth-child(4) {
        left: 100%;
        opacity: 0;
        -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=0)";
        filter: alpha(opacity=0)
    }
    .main-header .navbar-toggle.open span:nth-child(5) {
        left: 5px;
        top: 29px
    }
    .main-header .navbar-toggle.open span:nth-child(6) {
        left: calc(50% - 5px);
        top: 29px
    }
}

@media (max-width: 960px) {
    .main-header .navbar-collapse {
        border-top: none;
        padding: 0;
        -webkit-box-shadow: none;
        box-shadow: none;
    }
    .main-header .navbar-collapse .navbar-nav {
        margin: 0 0;
        margin-top: 10px;
    }
    .main-header .navbar-collapse .nav>li {
        border-top: 1px solid rgba(255, 255, 255, 0.0470588);
    }
    .main-header .navbar-collapse .dropdown-menu {
        transition: all 200ms;
        box-shadow: rgba(0, 0, 0, 0.0980392) 0px 2px 2px 0px inset;
        border-radius: 0 !important;
        border: none;
        background-color: #b12b47;
        position: relative;
        float: none;
        width: 100%;
    }
    .main-header .navbar-collapse .dropdown-menu>li>a {
        color: #fff !important;
        opacity: 0.8;
        padding: 10px 10px;
        margin: 0 !important;
        background-color: transparent !important;
        border-radius: 0 !important;
    }
    .main-header .navbar-collapse .dropdown-menu>li {
        border-top: 1px solid rgba(255, 255, 255, 0.0470588);
    }
    .main-header .navbar-default {
        padding-bottom: 0;
        min-height: 66px;
    }
}

@media (max-width: 991px) {
    .main-header .navbar-header {
        float: none;
        padding-bottom: 8px;
    }
    .main-header .navbar-left, .navbar-right {
        float: none !important;
    }
    .main-header .navbar-toggle {
        display: block;
    }
    .main-header .navbar-collapse {
        -webkit-box-shadow: none;
        box-shadow: none;
        border-top: none;
        margin-right: -15px;
        margin-left: -15px;
    }
    .main-header .navbar-fixed-top {
        top: 0;
        border-width: 0 0 1px;
    }
    .main-header .navbar-collapse.collapse {
        display: none!important;
    }
    .main-header .navbar-nav {
        float: none!important;
        margin-top: 7.5px;
    }
    .main-header .navbar-nav>li {
        float: none;
    }
    .main-header .navbar-nav>li>a {
        padding-top: 10px;
        padding-bottom: 10px;
    }
    .main-header .collapse.in {
        display: block !important;
    }
    .main-header .login_btn {
        position: absolute;
        top: 15px;
        right: 70px;
        z-index: 9;
        background-color: transparent;
        border: 2px solid rgba(255, 255, 255, 0.8);
        border-radius: 20px;
        color: #fff;
        font-size: 14px;
        padding: 4px 13px;
        opacity: 0.8;
        line-height: 20px;
        transition: opacity 200ms;
    }
    .main-header .github_btn {
        position: absolute;
        top: 18px;
        right: 160px;
        z-index: 9;
        color: #fff;
        font-size: 20px;
        opacity: 0.8;
        transition: opacity 200ms;
    }
    .main-header .login_btn:hover, .main-header .github_btn:hover {
        opacity: 1;
    }
}


@media only screen and (max-width: 768px) {
    .grid .list-item .newest-item .feature {
        display: block;
        width: 100%;
        float: none;
    }
    .grid .list-item .newest-item .feature img {
        border-radius: 6px 6px 0 0;
    }
    .grid .list-item .newest-item .content {
        display: block;
        float: none;
        width: 100%;
    }
    .grid .list-item .newest-item h4 {
        font-size: 16px;
        line-height: 26px;
    }
    .main-footer .links .social-links {
        text-align: center;
    }
    .main-footer .links .navs {
        text-align: center !important;
        padding-top: 0 !important;
        padding-bottom: 20px;
    }
    .create .post-wraper {
        padding: 30px;
    }
    .main-footer .links .copyright p {
        padding-top: 10px;
        padding-bottom: 10px;
    }
    .single .area .item .metas .date-time span {
        
    }
    .single .area .item .metas .date-time, .single .area .item .metas .tag {
        float: none !important;
    }
    .single .area .item .metas .tag  {
        margin-bottom: 20px;
    }
}

@media print, (-webkit-min-device-pixel-ratio: 1.25), (min-resolution: 1.25dppx), (min-resolution: 120dpi) {
    /* Style adjustments for high resolution devices */
}


/* ==========================================================================
   Print styles.
   Inlined to avoid the additional HTTP request:
   http://www.phpied.com/delay-loading-your-print-css/
   ========================================================================== */

@media print {
    *, *:before, *:after, *:first-letter, *:first-line {
        background: transparent !important;
        color: #000 !important;
        /* Black prints faster:
                                   http://www.sanbeiji.com/archives/953 */
        box-shadow: none !important;
        text-shadow: none !important;
    }
    a, a:visited {
        text-decoration: underline;
    }
    a[href]:after {
        content: " (" attr(href) ")";
    }
    abbr[title]:after {
        content: " (" attr(title) ")";
    }
    /*
     * Don't show links that are fragment identifiers,
     * or use the `javascript:` pseudo protocol
     */
    a[href^="#"]:after, a[href^="javascript:"]:after {
        content: "";
    }
    pre, blockquote {
        border: 1px solid #999;
        page-break-inside: avoid;
    }
    /*
     * Printing Tables:
     * http://css-discuss.incutio.com/wiki/Printing_Tables
     */
    thead {
        display: table-header-group;
    }
    tr, img {
        page-break-inside: avoid;
    }
    img {
        max-width: 100% !important;
    }
    p, h2, h3 {
        orphans: 3;
        widows: 3;
    }
    h2, h3 {
        page-break-after: avoid;
    }
}


/* ==========================================================================
   Home Page
   ========================================================================== */

#wrap {
    position: relative;
    height: 100vh;
}

.intro-well {
    text-align: center;
    padding-top: 170px;
}

.intro-well h1 {
    font-weight: 300;
    font-size: 46px;
    line-height: 44px;
    margin: 0;
    color: #fff;
}

.intro-well h3 {
    color: #fff;
    font-weight: 400;
    font-size: 16px;
    margin-bottom: 30px;
}

.intro-well a.btn i {
    font-weight: 700;
    margin-right: 5px;
}

.intro-well a.btn {
    color: #c93756;
}

section.features {
    padding: 65px 0px;
    background-color: #fff;
}

.section-header {
    text-align: center;
    margin-bottom: 72px;
}

.section-header h2 {
    font-size: 32px;
    margin-bottom: 30px;
    margin-top: 0;
    position: relative;
    text-transform: capitalize;
    font-weight: 300;
    color: #C93756;
}

.section-header h4 {
    color: #96a2b2;
    font-size: 16px;
    font-weight: 300;
}

.section-header p {
    color: #222;
    font-size: 14px;
}

.list-view-item {
    padding-bottom: 50px;
    min-height: 225px;
}

.list-view-item i {
    font-size: 45px;
    color: #C93756;
}

.list-view-item h5 {
    text-transform: capitalize;
    font-size: 16px;
    letter-spacing: 0.5px;
    color: #0e3655;
    margin-top: 30px;
    margin-bottom: 20px;
}

.list-view-item p {
    color: #222;
    font-size: 14px;
    font-weight: normal;
}

@media only screen and (max-width: 768px) {
    .intro-well h1 {
        font-size: 32px;
    }
    .full-height {
        height: 100%;
    }
    #wrap {
        height: 100%;
    }
}

/* ==========================================================================
   About Us Page
   ========================================================================== */
section.about-header h1 {
  font-weight: 700;
}
section.about-header p {
  color: #eee;
  font-weight: 500;
}
section.about {
  padding: 65px 0;
}
section.about .container {
    width: 970px;
}
section.about .count-numerics h2 {
    font-size: 28px;
    margin-bottom: 100px;
    margin-top: 0;
    text-align: center;
    line-height: 40px;
    font-weight: 500;
    color: #C93756;
}
section.about .count-numerics .list-inline figure {
  font-size: 52px;
  color: #C93756;
  display: inline-block;
  margin: 0;
}
section.about .count-numerics .list-inline span {
  font-size: 30px;
  color: #C93756;
}
section.about .count-numerics .list-inline h4 {
  font-size: 18px;
  color: #8e98a7;
  font-weight: 400;
}
section.about .count-numerics .list-inline li {
  position: relative;
}
section.about .count-numerics .list-inline li:before {
    position: absolute;
    top: 50%;
    left: 90%;
    width: 20%;
    height: 1px;
    background: rgba(35,35,35,.2);
    content: " ";
    display: block;
    margin-top: -.03125rem;
}
section.about .count-numerics .list-inline li:last-child:before {
  display: none;
}
section.about .promo-section {
  margin-top: 100px;
  position: relative;
}
section.about .promo-section .content-section {
  background-image: linear-gradient(145deg,#f164ab 0,#ff5176 100%);
  background-repeat: repeat-x;
  padding: 100px 50px;
      border-radius: 6px 0 0 6px;
}
section.about .promo-section .content-section h2 {
  color: #fff;
  font-size: 42px;
  margin-top: 0;
  margin-bottom: 30px;
}
section.about .promo-section .content-section span {
  color: #fff;
  font-weight: 700;
  font-size: 16px;
  margin-top: 0;
  margin-bottom: 20px;
  display: block;
}
section.about .promo-section .content-section p {
  color: #fff;
  font-weight: 400;
}
section.about .promo-section .content-section p + p {
  margin-bottom: 40px;
}
section.about .promo-section .content-section h4 {
  color: #fff;
  font-family: 'Pacifico', cursive;
  font-size: 24px;
  margin: 0;
}
section.about .promo-section .image-section {
  background-image: url('../../../../img/about.jpg');
  -webkit-background-size: cover;
  background-size: cover;
  height: 100%;
  position: absolute;
  top: 0;
  right: 0;
  border-radius: 0 6px 6px 0;
}

section.about .features-section {
  margin-top: 100px;
}
.hor-centered-row .hor-centered-row-col {
  display: table-cell;
  vertical-align: middle;
  float: none;
}
section.about .features-section .exp-num {
  width: 100px;
}
section.about .features-section .exp-num span {
  text-shadow: 0.1875rem 0.1875rem 0.1875rem rgba(201,55,86,.6);
  color: #C93756;
  font-weight: 700;
  font-size: 150px;
}
section.about .features-section .exp-year h4 {
  margin-top: 0;
  margin-bottom: 10px;
  color: #363d46;
  font-size: 26px;
  font-weight: 700;
}
section.about .features-section .exp-year h4 span {
  display: block;
}
section.about .features-section .exp-year p {
  text-transform: uppercase;
}
section.about .features-section .feature-item i {
  color: #C93756;
  font-size: 24px;
}
section.about .features-section .feature-item h4 {
  font-size: 18px;
  color: #363d46;
}
section.about .features-section .feature-item p {
  color: #888;
} 
@media screen and (max-width: 991px) {
  section.about .count-numerics .list-inline li:before {
        display: none !important;
    }
    section.about .promo-section .image-section {
        display: none;
    }
    section.about .promo-section .content-section {
        border-radius: 6px !important;
        display: block;
    }
    section.about .container {
        width: auto !important;
    }
}
@media screen and (max-width: 768px) {
  section.about .features-section .feature-item {
    margin-bottom: 30px;
  }
}

/* ==========================================================================
   Contact Page
   ========================================================================== */

section.contact-header h1 {
    font-weight: 700;
}

section.contact-header p {
    color: #eee;
    font-weight: 500;
}

section.contact {
    padding-top: 100px;
    background-color: #f7f8fb;
}

section.contact .form {
        background-color: #ededed;
        padding: 50px;
        border-radius: 6px;

}
section.contact .title {
    margin-bottom: 30px;
}
section.contact .title h3 {
        font-size: 20px;
    font-weight: 400;
    margin: 0;
        color: #0e3655;
}
section.contact .form .form-control {
    min-height: 40px;
    border-radius: 4px;
    border: none;
}
section.contact .map #map {
    height: 600px;
    overflow: hidden;
    border-radius: 6px;
}
section.contact .map {
    margin-top: 70px;
}
section.contact .sidebar .widget + .widget {
    margin-top: 40px;
} 
section.contact .sidebar .widget .icon {
    width: 15%;
    height: 65px;
    float: left;
    margin-right: 8%;
    display: inline-block;
}
section.contact .sidebar .widget .icon i {
    font-size: 50px;
    color: #c93756;
}
section.contact .sidebar .widget .content {
    width: 75%;
    display: inline-block;
}
section.contact .sidebar .widget .content p {
    color: #0e3655;
    margin-bottom: 0;
}
section.contact .sidebar .widget .content p + p {
    margin-top: 0;
}

